<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Auto Allure report">
<!--    <listeners>-->
<!--        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>-->
<!--    </listeners>-->

    <test name="sample web tests">
        <classes>
            <class name="allureReportPractice.practice.LaunchBrowser">
                <methods>
                    <include name="test1">
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>

